* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    background-color: #21262a;
    color: white;
}
h1 {
    padding: 15px 0;
}
p {
    padding: 5px 0px;
}
button {
    padding: 5px;
}
